[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Anthony Das
	email = dev@anthnydas.com
	signingkey = ~/.ssh/id_ed25519.pub
[core]
	autocrlf = input
	editor = vim
	pager = delta
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[gpg]
	format = ssh

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	side-by-side = true
	line-numbers = true
	syntax-theme = OneHalfDark
	hyperlinks = true
	file-style = bold yellow ul
	file-decoration-style = yellow ul
	hunk-header-decoration-style = cyan box

[merge]
	conflictstyle = zdiff3
	tool = vimdiff

[diff]
	colorMoved = default
	algorithm = histogram
	renames = copies

[pull]
	rebase = true
[push]
	default = current
	autoSetupRemote = true
[rebase]
	autoStash = true
	autosquash = true
[rerere]
	enabled = true
[fetch]
	prune = true
[branch]
	sort = -committerdate
[column]
	ui = auto
[help]
	autocorrect = prompt

[alias]
	please   = push --force-with-lease
	nb       = "!f() { git fetch origin main && git checkout -b \"$1\" origin/main; }; f"
	uncommit = reset --soft HEAD~1
	fixup    = commit --amend --no-edit
	save     = "!f() { msg=${1:-wip}; git stash push -u -m \"$msg\"; }; f"
	pop      = stash pop
	stashes  = stash list --pretty='%C(yellow)%gd%Creset %s %C(green)(%cr)%Creset'
	last     = show --stat HEAD
	find     = "!f() { git log --all --oneline --grep=\"$1\"; }; f"

[include]
	path = ~/.gitconfig.local
